.st0{fill:#62B3E5;}
.st1{fill:#F8E0C5;}
.st2{fill:#F1EDEC;}
.st3{fill:#D8BA97;}

#logo-container {

  #logo {
       margin-left: auto;
       margin-right: auto;
       display: block;
      bottom:50%
     }
}

#banner{
  background-repeat: no-repeat;
  background-size: cover;
  height : 800px;
}
